/* -------------------------------------------------------------------------- */
/*                             ESTILOS UNIVERSALES                            */
/* -------------------------------------------------------------------------- */
html {
    font-family: "Archivo", Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: #e9dbb9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ol, ul {
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  /* -------------------------------------------------------------------------- */
  /*                                    GRID                                    */
  /* -------------------------------------------------------------------------- */
  .page-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    grid-template-areas:
      "header"
      "dividerboardsshowcase"
      "boardsshowcase"
      "footer";
  }
  /* -------------------------------------------------------------------------- */
  /*                                   HEADER                                   */
  /* -------------------------------------------------------------------------- */
  header {
    grid-area: header;
    display: block;
    position: fixed;
    z-index: 98;
    inset: 0% 0% auto;
  }
  
  .header-banner {
    display: flex;
    justify-content: flex-start;
    background-color: #e9dbb9;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .separator {
    margin-left: 10px;  
    margin-right: 10px; 
  }
  
  .header-banner h3 {
    line-height: 1;
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    color: #333333;
    white-space: nowrap;
    padding: 0 1px;
    letter-spacing: normal;
    animation: move-rtl 6000ms linear infinite;
  }
  
  @keyframes move-rtl {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
  }
  /* -------------------------------------------------------------------------- */
  /*                                     NAV                                    */
  /* -------------------------------------------------------------------------- */
  .header-wrap {
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: #e9dbb9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    width: 100%;
    height: 7vh; /* Aumenta la altura para dar más espacio */
    padding: 0 20px;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;  /* Asegura que los elementos estén centrados verticalmente */
    flex-grow: 1;
  }
  
  .navbar-nav .nav-item {
    padding: 0 15px; /* Espaciado entre los elementos de la lista */
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    border: 1px solid #333333;
    border-radius: 100px;
    color: #89c3d2;
  }
  /* -------------------------------------------------------------------------- */
  /*                                  DIVISORES                                 */
  /* -------------------------------------------------------------------------- */
  .divider-contact {
    margin-top: 5.1rem;
    grid-area: dividerboardsshowcase;
    display: grid;
    border-top: 1px solid #333333;
  }
  
  .divider-contact h2 {
    font-size: 48px;
    font-weight: 600;
    padding: 1rem;
  }
  /* -------------------------------------------------------------------------- */
  /*                               BOARDS SHOWCASE                              */
  /* -------------------------------------------------------------------------- */
  
  .boards-showcase {
    grid-area: boardsshowcase;
    display: grid;
    grid-template-columns: 1fr; 
    align-items: start; 
    grid-gap: 1px;
  }
  .boards-showcase-products {
    display: grid;
    width: 100%;
    height: auto;
    min-height: 100%;
  }
  
  .boards-showcase-products-container {
    outline: 1px solid #333333;
  }
  
  .boards-showcase-products-item {
    overflow: hidden;
    text-align: center;
    margin: 0; 
    padding: 0; 
    transition: background-color 0.3s ease;
  }
  
  .boards-text-products-item {
    text-align: left;
    padding: 10px;
    font-weight: 700;
  }
  
  .boards-text-products-item p,
  .product-price {
    margin: 0;
  }
  
  .boards-product-badges {
    .boards-badge {
      border: 1px solid #333333;
      border-radius: 25px;
      display: inline-block;
      line-height: 1;
      padding: .30em;
      font-size: .8rem;
      font-weight: 500;
      transition: background-color 0.3s ease;
    }
  }
  
  .boards-showcase-product-item-image {
    border-radius: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    object-fit: contain;
  }
  
  .boards-showcase-product-item-image img {
    width: 100%;
    max-width: 215px; 
    height: auto;
    max-height: 301px; 
  }
  
  .boards-product-item-button {
    background: none;
    border: none;
    padding: .30em;
    cursor: pointer; 
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 200;
    border-radius: 25px;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .boards-showcase-products-item:hover .boards-product-item-button {
    background-color: #295874;
    color: #e9dbb9;
  }
  /* -------------------------------------------------------------------------- */
  /*                                   FOOTER                                   */
  /* -------------------------------------------------------------------------- */
  footer {
    grid-area: footer;
    border-top: 1px solid #333333;
    margin: 0;
    padding: 2rem;
    display: block;
    font-weight: 400;
    font-size: 1rem;
  }
  
  .footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1rem;
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  .footer-copy {
    line-height: 1rem;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .footer-detail {
    line-height: 1rem;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  /* -------------------------------------------------------------------------- */
  /*                                MEDIA QUERIES                               */
  /* -------------------------------------------------------------------------- */
  @media (min-width: 1299px) {
    .footer-menu {
      flex-direction: row;
    }
  
    .footer-menu>:not(:last-child) {
      margin-right: 2rem;
    }
  }
  /* -------------------------------------------------------------------------- */
  /*                            DISPOSITIVOS MEDIANOS                           */
  /* -------------------------------------------------------------------------- */
  @media (max-width: 1299px) {
    .page-wrapper {
      grid-template-areas:
        "header"
        "dividerboardsshowcase"
        "boardsshowcase"
        "footer";
    }
    .footer-menu {
      flex-direction: column; 
    }
  }
  /* -------------------------------------------------------------------------- */
  /*                            DISPOSITIVOS PEQUEÑOS                           */
  /* -------------------------------------------------------------------------- */
  @media (max-width: 750px) {
    .page-wrapper {
      grid-template-areas:
        "header"
        "dividerboardsshowcase"
        "boardsshowcase"
        "footer";
    }
    .boards-showcase {
      grid-template-columns: repeat(2,1fr);
    }
  }
  /* -------------------------------------------------------------------------- */
  /*                          DISPOSITIVOS MAS PEQUEÑOS                         */
  /* -------------------------------------------------------------------------- */
  @media (max-width: 500px) {
    .page-wrapper {
      grid-template-areas:
        "header"
        "dividerboardsshowcase"
        "boardsshowcase"
        "footer";
    }
    .boards-showcase {
      grid-template-columns: 1fr;
    }
  }
  