/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

/* -------------------------------------------------------------------------- */
/*                             ESTILOS UNIVERSALES                            */
/* -------------------------------------------------------------------------- */
html {
  font-family: "Archivo", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: #e9dbb9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/* -------------------------------------------------------------------------- */
/*                                    GRID                                    */
/* -------------------------------------------------------------------------- */
.page-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-template-rows: auto 1fr auto auto;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  grid-template-areas:
    "header"
    "home"
    "featuredblock"
    "trendcat"
    "contact"
    "dividersurfshowcase"
    "surfshowcase"
    "dividerreviews"
    "dividerreviews"
    "reviews"
    "footer";
}
/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
header {
  grid-area: header;
  display: block;
  position: fixed;
  z-index: 98;
  inset: 0% 0% auto;
}

.header-banner {
  display: flex;
  justify-content: flex-start;
  background-color: #e9dbb9;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.separator {
  margin-left: 10px;  
  margin-right: 10px; 
}

.header-banner h3 {
  line-height: 1;
  margin: 0;
  font-size: 18px;
  font-weight: 900;
  color: #333333;
  white-space: nowrap;
  padding: 0 1px;
  letter-spacing: normal;
  animation: move-rtl 6000ms linear infinite;
}

@keyframes move-rtl {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

.header-wrap {
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: #e9dbb9;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  width: 100%;
  height: 7vh;
  padding: 0 20px; 
}

.header-buttons {
  display: flex;
}

.header-button-menu {
  font-family: "Archivo", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #333333;
  align-items: center;
  border-left: 1px solid #333333;
  display: flex;
  justify-content: center;
  position: relative;
  height: 7vh;
  width: 5rem;
}
/* -------------------------------------------------------------------------- */
/*                                     NAV                                    */
/* -------------------------------------------------------------------------- */
.header-logo svg {
  transition: fill .1s;
  width: 100%;
}

.header_logo {
  color: #333333;
  height: 3rem;
  justify-content: center;
  max-width: 7rem;
  padding: .4rem 1rem;
}

.logo {
  width: 150px;
  height: auto;
}

.header-nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  flex-wrap: nowrap;
  overflow: auto;
  flex-grow: 1;
}

.menu {
  display: flex;
  justify-content: center; 
  list-style: none; 
  padding: 0;
  margin: 0;
}

.menu_item {
  margin: 0 20px; 
  white-space: nowrap;
  width: 100%;
}

.menu_nav_item {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #333333; 
  transition: background-color 0.3s ease;
}

.menu_nav_item:hover {
  outline: 1px solid #000000;
  outline-offset: 1em;
  color: #89c3d2; 
}
/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */
.home {
  grid-area: home;
  padding: 1rem; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 9vh;
  width: 100%;
  height: auto;
}

.main-image {
  backface-visibility: hidden;
  border-radius: 25px;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.main-image img {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: cover;
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.main-logo {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.main-logo img {
  width: 30vw;
  height: auto;
}
/* -------------------------------------------------------------------------- */
/*                               FEATURED BLOCK                               */
/* -------------------------------------------------------------------------- */
.featured-block {
  grid-area: featuredblock;
  display: grid;
  grid-template-columns: repeat(2,1fr); 
  align-items: start; 
  border-top: 1px solid #333333;
}

.featured-block-text-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-wrap: nowrap;
  padding: 1rem;
  width: 100%;
  max-height: 100%; 
  box-sizing: border-box;
}

.featured-block-text {
  display: flex;
  flex-direction: column; 
  font-size: 60px; 
  line-height: 0.9; 
  color: #000000;  
  white-space: normal;
  overflow-wrap:break-word; 
}

.featured-block-text p {
  font-weight: 400;
  line-height: .9; 
  color: #000000; 
}

.featured-block-text strong {
  font-weight: 700;
  line-height: .9; 
  color: #000000; 
}

.featured-block-text em {
  font-weight: 200;
  line-height: .9; 
  color: #000000; 
}

.featured-block-products {
  display: grid;
  grid-template-columns: repeat(2,1fr); 
  grid-gap: 1px;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.featured-block-products-container {
  outline: 1px solid #333333;
}

.featured-block-products-header-containner-inner {
  padding: 1rem;
  font-size: 25px;
  background-color: #e9dbb9; 
  border-bottom: 1px solid #333; 
}

.text-featured-block-products-header {
  font-family: "Archivo", Helvetica, Arial, sans-serif ; 
}

.featured-block-products-item {
  overflow: hidden;
  text-align: center;
  margin: 0; 
  padding: 0; 
  transition: background-color 0.3s ease;
}

.featured-block-products-item:hover {
  background-color: #89c3d2;
}

.text-products-item {
  text-align: left;
  padding: 10px;
  font-weight: 700;
}

.text-products-item p,
.product-price {
  margin: 0;
}

.product-badges {
  .badge {
    border: 1px solid #333333;
    border-radius: 25px;
    display: inline-block;
    line-height: 1;
    padding: .30em;
    font-size: .8rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
}

.featured-block-products-item:hover .badge {
  background-color: #000000;
  color: #e9dbb9;
}

.product-item-image {
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
  object-fit: contain;
}

.product-item-image img {
  width: 100%;
  max-width: 432px; 
  height: auto;
  max-height: 603px; 
}

.product-item-button {
  background: none;
  border: none;
  padding: .30em;
  cursor: pointer; 
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: 200;
  border-radius: 25px;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.featured-block-products-item:hover .product-item-button {
  background-color: #295874;
  color: #e9dbb9;
}
/* -------------------------------------------------------------------------- */
/*                                    TREND                                   */
/* -------------------------------------------------------------------------- */
.trend-categories {
  grid-area: trendcat;
  border-top: 1px solid #333333;
}

.trend-categories-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1px;
}

.trend-categories-container-box {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  outline: 1px solid #333333;
  transition: background-color 0.3s ease;
}

.trend-categories-container-box:hover{
  background-color: #89c3d2;
}

.trend-categories-item-image img {
  border-radius: 20px;
  width: 100%; 
  max-width: 432px; 
  height: auto; 
  max-height: 432px; 
  object-fit: cover; 
}
/* -------------------------------------------------------------------------- */
/*                                   CONTACT                                  */
/* -------------------------------------------------------------------------- */
.contact-us {
  grid-area: contact;
}

.contact-us-container {
  display: grid;
  grid-template-columns:repeat(4,1fr);
  overflow: hidden;
  grid-gap: 1px;
  border-top: 1px solid #333333;
}

.contact-us-container-box {
  position: relative;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  outline: 1px solid #333333;
}

.contact-us-image img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.contact-us-image-mobile img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 1rem;
}

.contact-us-form-box {
  padding: 1rem;
  position: relative;
}

.contact-us-form-box h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contact-us-form-box h3 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.form-name {
  border: 1px solid #333333;
  border-radius: 1rem;
  font-family: "Archivo", Helvetica, Arial, sans-serif;
  font-size: .85rem;
  padding: 0 1rem;
  background: transparent;
  width: 100%;
  margin-bottom: .85rem;
}

.form-email {
  border: 1px solid #333333;
  border-radius: 1rem;
  font-family: "Archivo", Helvetica, Arial, sans-serif;
  font-size: .85rem;
  padding: 0 1rem;
  background: transparent;
  width: 100%;
  margin-bottom: .85rem;
}

.form-textarea {
  border: 1px solid #333333;
  border-radius: 1rem;
  font-family: "Archivo", Helvetica, Arial, sans-serif;
  font-size: .85rem;
  padding: 0 1rem;
  background: transparent;
  width: 100%;
  margin-bottom: .85rem;
  resize: none;
}

.form-button {
  width: 100%;
  appearance: none;
  background-color: #89c3d2;
  border: 1px solid #8ac5d3;
  border-radius: 2rem;
  cursor: pointer;
  display: inline-block;
  font-family: "Archivo", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
}
/* -------------------------------------------------------------------------- */
/*                                  DIVISORES                                 */
/* -------------------------------------------------------------------------- */
.divider-contact {
  grid-area: dividersurfshowcase;
  display: grid;
  border-top: 1px solid #333333;
}

.divider-contact h2 {
  font-size: 48px;
  font-weight: 600;
  padding: 1rem;
}

.divider-reviews {
  grid-area: dividerreviews;
  display: grid;
  border-top: 1px solid #333333;
}

.divider-reviews h2 {
  font-size: 48px;
  font-weight: 600;
  padding: 1rem;
}
/* -------------------------------------------------------------------------- */
/*                             SURFBOARD SHOWCASE                             */
/* -------------------------------------------------------------------------- */
.surfboard-showcase {
  grid-area: surfshowcase;
  display: grid;
  grid-template-columns: repeat(4,1fr); 
  align-items: start; 
  grid-gap: 1px;
}
.surfboard-showcase-products {
  display: grid;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.surfboard-showcase-products-container {
  outline: 1px solid #333333;
}

.surfboard-showcase-products-item {
  overflow: hidden;
  text-align: center;
  margin: 0; 
  padding: 0; 
  transition: background-color 0.3s ease;
}

.surfboard-showcase-products-item:hover {
  background-color: #89c3d2;
}

.surfboard-text-products-item {
  text-align: left;
  padding: 10px;
  font-weight: 700;
}

.surfboard-text-products-item p,
.product-price {
  margin: 0;
}

.surfboards-product-badges {
  .surfboards-badge {
    border: 1px solid #333333;
    border-radius: 25px;
    display: inline-block;
    line-height: 1;
    padding: .30em;
    font-size: .8rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
}

.surfboard-showcase-products-item:hover .surfboards-badge {
  background-color: #000000;
  color: #e9dbb9;
}

.surfboards-showcase-product-item-image {
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
  object-fit: contain;
}

.surfboards-showcase-product-item-image img {
  width: 100%;
  max-width: 432px; 
  height: auto;
  max-height: 603px; 
}

.surfboard-product-item-button {
  background: none;
  border: none;
  padding: .30em;
  cursor: pointer; 
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: 200;
  border-radius: 25px;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.surfboard-showcase-products-item:hover .surfboard-product-item-button {
  background-color: #295874;
  color: #e9dbb9;
}
/* -------------------------------------------------------------------------- */
/*                                   RESEÑAS                                  */
/* -------------------------------------------------------------------------- */
.reviews {
  grid-area: reviews;
  border-top: 1px solid #333333;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1px;
}

.reviews-container-box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  outline: 1px solid #333333;
}

.reviews-item-image img {
  border-radius: 20px;
  width: 100%; 
  max-width: 432px; 
  height: auto; 
  max-height: 432px; 
  object-fit: cover; 
}

.reviews-item-content {
  font-size: 1rem;
}
/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
footer {
  grid-area: footer;
  border-top: 1px solid #333333;
  margin: 0;
  padding: 2rem;
  display: block;
  font-weight: 400;
  font-size: 1rem;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1rem;
  text-align: center;
  margin-bottom: 20px;
  
}

.footer-copy {
  line-height: 1rem;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.footer-detail {
  line-height: 1rem;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
@media (min-width: 1299px) {
  .footer-menu {
    flex-direction: row;
  }

  .footer-menu>:not(:last-child) {
    margin-right: 2rem;
  }

  .header-button-menu {
    display: none;
  }
}

@media (min-width: 750px) {
  .contact-us-image-mobile {
    display: none;
  }
}

@media (max-width: 1800px){
  .featured-block-text{
    font-size: 3rem;
  } 
}

@media (max-width: 1500px){
  .featured-block-text{
    font-size: 2.5rem;
  } 
}
/* -------------------------------------------------------------------------- */
/*                            DISPOSITIVOS MEDIANOS                           */
/* -------------------------------------------------------------------------- */
@media (max-width: 1299px) {
  .page-wrapper {
    grid-template-areas:
      "header"
      "home"
      "featuredblock"
      "trendcat"
      "contact"
      "dividersurfshowcase"
      "surfshowcase"
      "dividerreviews"
      "reviews"
      "footer";
  }

  .header-wrap {
    height: auto; 
  }

  .header-banner h3 {
    font-size: 16px; 
  }

  .header-nav {
    display: none;
  }

  .contact-us-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-us-container > div:empty {
    display: none; 
  }

  .footer-menu {
    flex-direction: column; 
  }

  .featured-block-text{
    font-size: 2rem;
  }
}
/* -------------------------------------------------------------------------- */
/*                            DISPOSITIVOS PEQUEÑOS                           */
/* -------------------------------------------------------------------------- */
@media (max-width: 750px) {
  .page-wrapper {
    grid-template-areas:
      "header"
      "home"
      "featuredblock"
      "trendcat"
      "contact"
      "dividersurfshowcase"
      "surfshowcase"
      "dividerreviews"
      "reviews"
      "footer";
  }

  .featured-block {
    grid-template-columns: 1fr;
  }

  .featured-block-text p {
    font-size: 24px;
  }

  .featured-block-products {
    grid-template-columns: repeat(2,1fr); 
  }

  .trend-categories-container {
    grid-template-columns: repeat(2,1fr); 
  }

  .surfboard-showcase {
    grid-template-columns: repeat(2,1fr);
  }

  .reviews-container {
    grid-template-columns: 1fr;
  }

  .contact-us-container {
    grid-template-columns: 1fr; 
  }

  .contact-us-container > div:empty {
    display: none; 
  }

  .contact-us-container-box {
    display: none;
  }

  .form-name,
  .form-email,
  .form-textarea,
  .form-button {
    font-size: 1.25rem; 
  }

  .main-logo img {
    width: 60vw;
  }
}
/* -------------------------------------------------------------------------- */
/*                          DISPOSITIVOS MAS PEQUEÑOS                         */
/* -------------------------------------------------------------------------- */
@media (max-width: 500px) {
  .page-wrapper {
    grid-template-areas:
      "header"
      "home"
      "featuredblock"
      "trendcat"
      "contact"
      "dividersurfshowcase"
      "surfshowcase"
      "dividerreviews"
      "reviews"
      "footer";
  }

  .featured-block {
    grid-template-columns: 1fr;
  }

  .featured-block-products {
    grid-template-columns: 1fr;
  }

  .trend-categories-container {
    grid-template-columns: repeat(2,1fr); 
  }

  .surfboard-showcase {
    grid-template-columns: 1fr;
  }

  .contact-us-container {
    grid-template-columns: 1fr; 
  }

  .contact-us-container > div:empty {
    display: none; 
  }

  .contact-us-container-box {
    display: none;
  }
}
